<div class="block text-center col-12">
    <h1 class="block-title">Index</h1>
</div>
<hr>
<% if @tweets.count > 0 %>
	<div id="tweets">
	<%= render partial: 'main/tweets', locals: { items: @items},:formats=>[:js] %>
	</div>
<% else %>
	<p>
		<em>No tweets</em>
	</p>
<% end %>